In [3]:
import pandas as pd

dataset = pd.read_csv('nsmc_data.txt', sep='\t').dropna(axis=0)
dataset.drop_duplicates(subset=['document'], inplace=True)

In [4]:
dataset.head()

         id                                           document  label
0   8112052                                어릴때보고 지금다시봐도 재밌어요ㅋㅋ      1
1   8132799  디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...      1
2   4655635               폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.      1
3   9251303  와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...      1
4  10067386                        안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.      1

In [12]:
df_train = pd.read_excel("감성대화말뭉치(최종데이터)_Training.xlsx", engine = "openpyxl")
df_test = pd.read_excel("감성대화말뭉치(최종데이터)_Validation.xlsx", engine = "openpyxl")

In [13]:
df_train['label'] = 0
df_test['label'] = 0

In [15]:
df_train.head(2)

,번호,연령,성별,상황키워드,신체질환,감정_대분류,감정_소분류,사람문장1,시스템응답1,사람문장2,시스템응답2,사람문장3,시스템응답3,사람문장4,시스템응답4,label
0,44164,청년,남성,"연애, 결혼, 출산",해당없음,기쁨,신이 난,아내가 드디어 출산하게 되어서 정말 신이 나.,아내분이 출산을 하시는군요. 정말 축하드려요.,아 지금 정말 신이 나.,잘 된 일이네요.,아기가 점점 클게 벌써 기대가 되네. 내가 많이 놀아줘야지.,좋은 아빠가 되실 거 같아요. 진심으로 축하드려요.,NaN,NaN,0
1,3926,노년,남성,"건강, 죽음",만성질환 유,불안,스트레스 받는,당뇨랑 합병증 때문에 먹어야 할 약이 열 가지가 넘어가니까 스트레스야.,약 종류가 많아 번거로우시겠어요.,건강할 때 관리 좀 잘할걸 하는 생각이 들더라고.,현재 상황에서 변화를 주기 위해 어떻게 하면 될까요?,약을 잘 챙겨 먹고 나을 수 있도록 노력해야지.,약을 잘 챙겨 먹어 건강해지시길 바랄게요.,NaN,NaN,0

In [16]:
df_test.head(2)

,번호,연령,성별,상황키워드,신체질환,감정_대분류,감정_소분류,사람문장1,시스템응답1,사람문장2,시스템응답2,사람문장3,시스템응답3,사람문장4,시스템응답4,label
0,23093,청년,여성,"진로, 취업, 직장",해당없음,분노,툴툴대는,요즘 부모님과 많이 부딪혀.,어떤 일로 부딪히시나요?,난 하고 싶은 일이 있는데 부모님은 안정적인 일만 하라고 하셔. 내 마음대로 하지도...,부모님과의 충돌로 힘드시겠군요.,응. 그래도 난 내가 하고 싶은 일을 위해 노력할 거야.,자신이 하고 싶은 일을 목표로 하기로 하셨군요.,NaN,NaN,0
1,32848,청소년,남성,가족관계,해당없음,슬픔,비통한,엄마가 결국 집을 나갔어. 너무 너무 슬퍼.,어머니께서 집을 나가셨다니 정말 슬프셨겠어요. 좀 더 자세히 얘기해주시겠어요?,엄마도 엄마만의 인생이 있을 테니 가지 말라고 할 수가 없었어. 그래서 더 마음이 ...,정말 많이 답답하셨겠어요. 어떻게 하는 게 기분이 좀 풀릴까요?,일단 좀 자야겠어.,일단 휴식을 가질 생각이시군요.,NaN,NaN,0

In [17]:
df_train.loc[(df_train.감정_대분류=='기쁨'), 'label'] = 1
df_test.loc[(df.감정_대분류=='기쁨'), 'label'] = 1

In [18]:
data_train = df_train[['사람문장1', '사람문장2', '사람문장3', '사람문장4', 'label']]
data_train.head(10)

,사람문장1,사람문장2,사람문장3,사람문장4,label
0,아내가 드디어 출산하게 되어서 정말 신이 나.,아 지금 정말 신이 나.,아기가 점점 클게 벌써 기대가 되네. 내가 많이 놀아줘야지.,NaN,1
1,당뇨랑 합병증 때문에 먹어야 할 약이 열 가지가 넘어가니까 스트레스야.,건강할 때 관리 좀 잘할걸 하는 생각이 들더라고.,약을 잘 챙겨 먹고 나을 수 있도록 노력해야지.,NaN,0
2,고등학교에 올라오니 중학교 때보다 수업이 갑자기 어려워져서 당황스러워.,아직 학기 초인데 내가 수업에 잘 따라갈 수 있을지 걱정돼.,중학교 수업을 들을 때보다 훨씬 더 열심히 할 거야.,선생님이 강조하신 부분을 필기하고 집에서 매일 수업 내용을 복습하려고 해.,0
3,재취업이 돼서 받게 된 첫 월급으로 온 가족이 외식을 할 예정이야. 너무 행복해.,퇴직 후 다시는 돈을 못 벌 줄 알았는데 이렇게 월급으로 가족에게 맛있는 밥을 살 ...,회사생활을 열심히 해서 계속 월급을 받을거야!,NaN,1
4,빚을 드디어 다 갚게 되어서 이제야 안도감이 들어.,빚도 다 갚았으니 당분간은 아무 생각도 안 하며 살고 싶어.,NaN,NaN,1
5,이제 곧 은퇴할 시기가 되었어. 내가 먼저 은퇴를 하고 육 개월 후에 남편도 은퇴를...,둘이서 같이 뭘 해본 적이 없거든. 앞으로 백 세시대라고 하는데 어떻게 지내야 할지...,함께 등산이나 여행을 갔으면 좋겠어.,NaN,0
6,사십 대에 접어들면서 머리카락이 많이 빠져 고민이야.,이러다 대머리가 되지 않을까 걱정이야.,아직 병원 진료는 받지 않았고 탈모방지용 샴푸를 쓰고 있어.,NaN,0
7,이제 돈이라면 지긋지긋해.,나이가 예순이 넘으니 돈이 나갈 데도 많고 힘드네.,NaN,NaN,0
8,친구들이 나를 괴롭혀. 부모님과 선생님께 얘기했는데도 믿어주지 않아.,너무 화도 나고 좌절한 상태야. 학교 다니기가 싫어.,증거를 준비해서 다시 부모님과 선생님께 말씀 드리는 것이 좋겠어.,NaN,0
9,친구 때문에 눈물 나.,내 친구가 나한테 거짓말했어.,NaN,NaN,0

In [20]:
data1 = df_train[['사람문장1', 'label']]
data2 = df_train[['사람문장2', 'label']]

In [22]:
data1.head(2)

                                     사람문장1  label
0                아내가 드디어 출산하게 되어서 정말 신이 나.      1
1  당뇨랑 합병증 때문에 먹어야 할 약이 열 가지가 넘어가니까 스트레스야.      0

In [23]:
data2.head(2)

                         사람문장2  label
0                아 지금 정말 신이 나.      1
1  건강할 때 관리 좀 잘할걸 하는 생각이 들더라고.      0

In [24]:
data1.columns = ['Sentence', 'label']
data2.columns = ['Sentence', 'label']

In [25]:
data1.head(2)

                                  Sentence  label
0                아내가 드디어 출산하게 되어서 정말 신이 나.      1
1  당뇨랑 합병증 때문에 먹어야 할 약이 열 가지가 넘어가니까 스트레스야.      0

In [26]:
data2.head(2)

                      Sentence  label
0                아 지금 정말 신이 나.      1
1  건강할 때 관리 좀 잘할걸 하는 생각이 들더라고.      0

In [30]:
concat_train_data = pd.concat([data1, data2])
concat_train_data

                                                Sentence  label
0                              아내가 드디어 출산하게 되어서 정말 신이 나.      1
1                당뇨랑 합병증 때문에 먹어야 할 약이 열 가지가 넘어가니까 스트레스야.      0
2                고등학교에 올라오니 중학교 때보다 수업이 갑자기 어려워져서 당황스러워.      0
3          재취업이 돼서 받게 된 첫 월급으로 온 가족이 외식을 할 예정이야. 너무 행복해.      1
4                           빚을 드디어 다 갚게 되어서 이제야 안도감이 들어.      1
...                                                  ...    ...
40874                나한테 아예 떠넘길 거 같은데 친구한테 얘기해볼까 고민 중이야.      0
40875                                    결과가 좋게 나와서 다행이야      1
40876   내 재능이 남들보다 월등한 거는 아니라면서 취업해서 안정적으로 살았으면 좋겠다고 하셔.      0
40877  덕분에 건강도 챙길 수 있고 너무 좋아. 안마기도 있던데 내일은 운동하고 안마기도 ...      1
40878                 카페에 가서 대화하거나 같이 술 마시면서 이야기했던 것 같아.      0

[81758 rows x 2 columns]

In [28]:
import warnings
warnings.filterwarnings('ignore')  #warning들을 무시

In [31]:
concat_train_data['Length'] = 0

In [32]:
concat_train_data

                                                Sentence  label  Length
0                              아내가 드디어 출산하게 되어서 정말 신이 나.      1       0
1                당뇨랑 합병증 때문에 먹어야 할 약이 열 가지가 넘어가니까 스트레스야.      0       0
2                고등학교에 올라오니 중학교 때보다 수업이 갑자기 어려워져서 당황스러워.      0       0
3          재취업이 돼서 받게 된 첫 월급으로 온 가족이 외식을 할 예정이야. 너무 행복해.      1       0
4                           빚을 드디어 다 갚게 되어서 이제야 안도감이 들어.      1       0
...                                                  ...    ...     ...
40874                나한테 아예 떠넘길 거 같은데 친구한테 얘기해볼까 고민 중이야.      0       0
40875                                    결과가 좋게 나와서 다행이야      1       0
40876   내 재능이 남들보다 월등한 거는 아니라면서 취업해서 안정적으로 살았으면 좋겠다고 하셔.      0       0
40877  덕분에 건강도 챙길 수 있고 너무 좋아. 안마기도 있던데 내일은 운동하고 안마기도 ...      1       0
40878                 카페에 가서 대화하거나 같이 술 마시면서 이야기했던 것 같아.      0       0

[81758 rows x 3 columns]

In [37]:
concat_train_data['index'] = 0

In [36]:
for i in range(concat_train_data.shape[0]):
    concat_train_data.loc[i]

81758