## 구글 드라이브와 연결

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

## 라이브러리 불러오기

In [2]:
import pandas as pd

## 데이터 로드

In [3]:
nsmc = pd.read_excel('/content/gdrive/MyDrive/CUAI 하계 컨퍼런스 프로젝트/data preprocessing 최종/nsmc_preprocessed.xlsx', engine='openpyxl')
aihub_data = pd.read_excel('/content/gdrive/MyDrive/CUAI 하계 컨퍼런스 프로젝트/data preprocessing 최종/aihub_data_preprocessed.xlsx', engine='openpyxl')

In [7]:
nsmc = nsmc[['document', 'label']]
nsmc

                                                 document  label
0                                  어릴 때 보고 지금 다시 봐도 재밌어ㅋㅋ      1
1       디자인을 배우는 학생으로 외국 디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...      1
2                        폴리스 스토리 시리즈는부터 뉴까지 버릴게 하나도 없음 최고      1
3       와 연기가 진짜 개쩔구나 지루할 거라고 생각했는데 몰입해서 봤다 그래 이런 게 진짜...      1
4                              안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화      1
...                                                   ...    ...
190525  소재가 후지다는 말이 아니다 그냥 감독의 역량이 부족하다 마치 웃겨보라 했더니 여장...      0
190526  박중훈 그거 참 좋아하게 생겼다 마누라도 일본 여자 박중훈 캐스팅 자제 바람 식상하...      0
190527                            이런 영화에 점주는 사람들은 도대체 뭡니까      0
190528                 뭔가 감동적인 걸 만들려 했겠지만 연출 시나리오 연기 다 별로      0
190529                                          못됐다 이런 나쁜      0

[190530 rows x 2 columns]

In [12]:
aihub_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112949 entries, 0 to 112948
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   document  112945 non-null  object
 1   label     112949 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.7+ MB

## 데이터 합치기

In [9]:
final_data = pd.concat([nsmc, aihub_data], ignore_index=True)

In [10]:
final_data

                                                 document  label
0                                  어릴 때 보고 지금 다시 봐도 재밌어ㅋㅋ      1
1       디자인을 배우는 학생으로 외국 디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...      1
2                        폴리스 스토리 시리즈는부터 뉴까지 버릴게 하나도 없음 최고      1
3       와 연기가 진짜 개쩔구나 지루할 거라고 생각했는데 몰입해서 봤다 그래 이런 게 진짜...      1
4                              안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화      1
...                                                   ...    ...
303474                         내가 게을러서 다른 방법을 아직 생각하진 못했어      0
303475                      댄스 동호회는 좀 괜찮은 것 같은데 이참에 가입해볼까      0
303476                           당장 내일 밥은 어떡하고 내 병원비는 어쩌지      0
303477                      응 이제 다들 독립해가지고 명절 아니면 찾아오질 않아      0
303478                                   안부전화라도 해주면 좋을 텐데      0

[303479 rows x 2 columns]

## 최종적으로 데이터 확인

In [17]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303479 entries, 0 to 303478
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   document  303475 non-null  object
 1   label     303479 non-null  int64
dtypes: int64(1), object(1)
memory usage: 4.6+ MB

In [15]:
final_data['document'].isnull().sum()    # null 값 존재

4

In [16]:
final_data.loc[final_data['document'].isnull()]

       document  label
191917      NaN      1
209145      NaN      0
226034      NaN      0
232102      NaN      0

In [18]:
final_data = final_data.dropna(how='any')

In [19]:
final_data['document'].isnull().sum()    # null 값 삭제 완료

0

## 데이터 내보내기

In [20]:
final_data.to_excel('/content/gdrive/MyDrive/CUAI 하계 컨퍼런스 프로젝트/data preprocessing 최종/final_data.xlsx')